body
{
    overflow: hidden;
    margin: 0;
}

body.transmode
{
    background:none;
}

#bodyLoader
{
    position: absolute;
    top: 45%;
    left: 45%;   
}

.code
{
    font-size: 14px;
    float :left; 
}

.tree
{
    background:  #EFEFEF;
    border: 1px solid #DDDDDD;
    border-radius: 5px 5px 5px 5px;
    float: left;
    font-family: Arial;
    font-size: 16px;
    margin-left: 10px;
    width: 300px;
	overflow:hidden;
	padding:3px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.95;
}
#tooltip h3, #tooltip div { margin: 0; }


.findFiles input
{
    width: 92%;
    margin-left: 5px;
}

.ui-autocomplete
{
    border-style: solid;
    border-width: 0px 1px 1px 1px !important;
    border-color: black !important;
    background: White !important;
}

.ui-autocomplete li
{
    font-size: 12px;
    word-wrap:break-word;
    max-width: 90% !important;
}

.ui-autocomplete-loading 
{
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat !important; 
}

.ui-resizable-w
{
    width: 9px !important;
}

.run-button
{
    width: 50px;
    margin: 0 0 0 10px;
}

.stats
{
    min-width: 34px;
    display:inline-block;
    margin: 0 0 0 8px;
    color: Gray;
}

.toolbar .active
{
    color: #12C !important;
    cursor: pointer;
}

.jstree ul li
{
	line-height: 25px;
}

.env-tab
{
    line-height: 0.7em;
}

.env-tab-close
{
    float: left;
	position: relative;
	right: 4px;
	top: 2px;
	cursor: pointer;
}

.topbar
{
    float: left;
    height: auto;
    margin: 8px 0;
    width: 100%;
}

.topbarsave
{
    float: left;
    margin: 0 15px 0 0;
}

.topbarsearch
{
    float: left;
}

.topbartrans
{
    float:left;
	margin: 0 15px 0 0;
}

.topbartrans input[type=text]
{
    width: 200px
}

.topbartrans input[type=text][disabled]
{
    background-color: #DADADA;
}

#envresults
{
    border-style: solid;
    border-width: 0px 1px 1px 1px;
    border-color: #4A4A4A;
    min-height: 36px;
    background-color: #C5C8CF;
}

.envresults-title
{
    padding: 8px 0 6px 24px;
    cursor: pointer;
    font-size: 16px;
}

.envresults-content
{
    display: none;
    height: 200px;
    overflow: auto;
    border-top: 1px solid black;
    padding-left: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #E9E9E9;
}

.envresults-content ul li
{
    list-style-type: decimal;
    white-space:nowrap;
}

.envresult-file
{
    font-weight: bold;
    cursor: pointer;
    color: #7F7F7F;
}

.envresult-file-line
{
    padding-left: 50px;
}

.vfill { overflow: auto;
}

.hfill
{
    overflow: auto;
	margin: 0 0 0 10px;
}

/* Stats */

.stats-container
{
    height: 100%;
}

.stats-container .left
{
    width: 42%;
	float: left;
    height: 100%;
    overflow: auto;
}

.stats-container .right
{
    width: 56%;
	margin-left: 2%;
	float: left;
    height: 100%;
    overflow: auto;
}

.stats-list
{
    list-style: none;
    display: none;
}

.stats-item-name
{
    display:inline;
    margin: 0 0 0 10px;
    cursor: pointer;
	white-space: nowrap;
}

.stats-item .active
{
    background-color: #99CCFF;
}

.stats-chupchic
{
    cursor: pointer;
}

.stats-request-url, .stats-template-path
{
    white-space:nowrap;
}

.stats-item-reqtype
{
    margin: 0 0 0 20px;
    color: Gray;
    font-weight: bold;
}

.stats-item-duration
{
    margin: 0 0 0 20px;
    color: Gray;
    font-weight: bold;
}

.stats-details-tabs
{
    list-style-type: none;
    height: 50px;
	padding-left: 0px;
}

.stats-details-tabs li
{
    float: left;
    padding: 6px 10px 6px 10px;
    cursor: pointer;
}

.stats-details-tabs li.active
{
    font-weight: bold;
}

.stats-tab
{
    display: none;
}

.stats-error
{
    color:Red;
    font-weight: bold;
}

.stats-item-type
{
    color:Gray;
    font-weight: bold;
}

.stats-request>li.stats-item
{
    font-weigth: bold;
}

.dummytab
{
	background:white;
}


/*
 * jsTree default theme 1.0
 * Supported features: dots/no-dots, icons/no-icons, focused, loading
 * Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
 */

.jstree-default li, 
.jstree-default ins { background-image:url("../images/d.png"); background-repeat:no-repeat; background-color:transparent; }
.jstree-default li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-72px 0; }
.jstree-default .jstree-closed > ins { background-position:-54px 0; }
.jstree-default .jstree-leaf > ins { background-position:-36px 0; }

.jstree-default .jstree-hovered { background:#e7f4f9; border:1px solid #d8f0fa; padding:0 2px 0 1px; }
.jstree-default .jstree-clicked { background:#beebff; border:1px solid #99defd; padding:0 2px 0 1px; }
.jstree-default a .jstree-icon { background-position:-56px -19px; }
/*.jstree-default a.jstree-loading .jstree-icon { background:url("../images/throbber.gif") center center no-repeat !important; }*/

.jstree-default.jstree-focused { background:#ffffff !important; }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-default .jstree-search { font-style:italic; }

.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url("../images/d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url("../images/d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url("../images/d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-default a.jstree-search { color:aqua; }
.jstree-default .jstree-locked a { color:silver; cursor:default; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }

/* IE6 BEGIN */
.jstree-default li, 
.jstree-default ins,
#vakata-dragged.jstree-default .jstree-invalid, 
#vakata-dragged.jstree-default .jstree-ok, 
#jstree-marker.jstree-default { _background-image:url("../images/d.gif"); }
.jstree-default .jstree-open ins { _background-position:-72px 0; }
.jstree-default .jstree-closed ins { _background-position:-54px 0; }
.jstree-default .jstree-leaf ins { _background-position:-36px 0; }
.jstree-default a ins.jstree-icon { _background-position:-56px -19px; }
#vakata-contextmenu.jstree-default-context ins { _display:none; }
#vakata-contextmenu.jstree-default-context li { _zoom:1; }
.jstree-default .jstree-undetermined a .jstree-checkbox { _background-position:-20px -19px; }
.jstree-default .jstree-checked a .jstree-checkbox { _background-position:-38px -19px; }
.jstree-default .jstree-unchecked a .jstree-checkbox { _background-position:-2px -19px; }
/* IE6 END */

.jstree ul, .jstree li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.jstree li {
    display: block;
    line-height: 18px;
    margin-left: 18px;
    min-height: 18px;
    min-width: 18px;
    white-space: nowrap;
}
.jstree-rtl li {
    margin-left: 0;
    margin-right: 18px;
}
.jstree > ul > li {
    margin-left: 0;
}
.jstree-rtl > ul > li {
    margin-right: 0;
}
.jstree ins {
    display: inline-block;
    height: 18px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    width: 18px;
}
.jstree a {
    color: black;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin: 0;
    padding: 1px 2px;
    text-decoration: none;
    white-space: nowrap;
}
.jstree a:focus {
    outline: medium none;
}
.jstree a > ins {
    height: 16px;
    width: 16px;
}
.jstree a > .jstree-icon {
    margin-right: 3px;
}
.jstree-rtl a > .jstree-icon {
    margin-left: 3px;
    margin-right: 0;
}
li.jstree-open > ul {
    display: block;
}
li.jstree-closed > ul {
    display: none;
}
#vakata-dragged ins {
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 16px;
    left: 4px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    top: 4px;
    width: 16px;
}
#vakata-dragged .jstree-ok {
    background: none repeat scroll 0 0 green;
}
#vakata-dragged .jstree-invalid {
    background: none repeat scroll 0 0 red;
}
#jstree-marker {
    background-color: transparent;
    background-repeat: no-repeat;
    color: black;
    display: none;
    font-size: 12px;
    height: 12px;
    line-height: 10px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    text-shadow: 1px 1px 1px white;
    top: -30px;
    width: 8px;
    z-index: 10001;
}
#jstree-marker-line {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #456C43;
    background-repeat: no-repeat;
    border-color: #EEEEEE #EEEEEE #EEEEEE -moz-use-text-color;
    border-radius: 1px 1px 1px 1px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
    box-shadow: 0 0 2px #666666;
    cursor: pointer;
    display: none;
    font-size: 1px;
    height: 1px;
    line-height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -30px;
    width: 100px;
    z-index: 10000;
}
.jstree .jstree-real-checkbox {
    display: none;
}
.jstree-themeroller .ui-icon {
    overflow: visible;
}
.jstree-themeroller a {
    padding: 0 2px;
}
.jstree-themeroller .jstree-no-icon {
    display: none;
}
.jstree .jstree-wholerow-real {
    position: relative;
    z-index: 1;
}
.jstree .jstree-wholerow-real li {
    cursor: pointer;
}
.jstree .jstree-wholerow-real a {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
}
.jstree .jstree-wholerow {
    height: 0;
    position: relative;
    z-index: 0;
}
.jstree .jstree-wholerow ul, .jstree .jstree-wholerow li {
    width: 100%;
}
.jstree .jstree-wholerow, .jstree .jstree-wholerow ul, .jstree .jstree-wholerow li, .jstree .jstree-wholerow a {
    margin: 0 !important;
    padding: 0 !important;
}
.jstree .jstree-wholerow, .jstree .jstree-wholerow ul, .jstree .jstree-wholerow li {
    background: none repeat scroll 0 0 transparent !important;
}
.jstree .jstree-wholerow ins, .jstree .jstree-wholerow span, .jstree .jstree-wholerow input {
    display: none !important;
}
.jstree .jstree-wholerow a, .jstree .jstree-wholerow a:hover {
    border-left-width: 0 !important;
    border-right-width: 0 !important;
    padding: 0 !important;
    text-indent: -9999px;
    width: 100%;
}
.jstree .jstree-wholerow-span {
    border-width: 0;
    height: 18px;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 0;
}
